
    /* style header area */
    header {
        background: url("images/pexels-chevanon-1108099.jpg") 0px -125px no-repeat;
        background-size: 1400px; 
        height: 400px;
        padding-top: 30px; 
        padding-left: 60px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size:48px; 
        color:#fff;
    }

    /* style navigation */
    .nav li {
        list-style-type: none;
        display: inline;
        padding: 5px 10px;
    }

    li a:link {
        text-decoration: none;
        color:#000000;
    }

    li a:visited {
        text-decoration: none;
        color: #000000;
    }

    li a:hover {
        text-decoration: underline;
        color: #0000ff;
    }

    li a:active {
        text-decoration: none;
        color: #9933ff;
    }

    nav {
    background-color: rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top: 3px;
    }

    /* style the main content area */
    main {
    margin: 50px;
    }

    main h1 {
    color: #668cff;
    font-family: Arial, Helvetica, sans-serif
    }

    /* style footer area */
    footer {
    height: 30px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 10px;
    color: rgb(211, 218, 240)
    }

  /* style table area */
  table {
    margin-top: 50px;
    }

    table, caption, th, td {
        border: 2px solid #000000
    }

    th, td {
        width: 200px;
        height: 35px;
        text-align: center;
        font-size: medium;
    }

    caption {
        text-transform: uppercase;
        font-weight: 600;
        height: 40px; 
        padding-top: 15px;
        color: #0040ff; 
        font-size: 20px;
    }

/* contact form */

    label {
    display: block; 
    margin: 20px 0 0 0; /* top, right, bottom, left */
    }

    input, textarea {
        width: 250px;
    }

    input[type="radio"] { /* attribute selector */
        width: 30px;
    }

    input[type="submit"] {
        display: block; 
        margin: 20px 0 10px 0;
        width: 100px;
        background-color: #b57f76; 
        border: 0px;
        color: #ffffff; 
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
    }

    input:focus {
        background-color: gray;
    }

    /* gallery */

    ul {
        list-style-type: none; 
    }

    #album {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        position: relative;
        width: 45%;
        text-align: center;
        margin: 0 40px 20px 0px;
    }
    
    .container img {
        width: 100%;
        display: inline;
    }

    .description {
        background-color: #ffffff;
        /*positioned relative to parent div (container) */
            position: absolute;    
            margin-left:25%;
            margin-top: -40%;        
            color: #000000;
            width: 50%;
            font-size: 16px;
            padding: 10px 0;
            text-align: center;
        /*invisible because opacity is 0*/
            opacity: 0;            
            transition: 0.6s;
    }

    .container:hover .description {
        /*becomes visible on hover*/
            opacity:0.8; 
    }




